[includeIf "hasconfig:remote.*.url:https://gitlab.90cos.cdl.af.mil/**"]
	path = ~/.work.gitconfig

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.personal.gitconfig

[alias]
	please = push —-force-with-lease

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[fetch]
	prune = true

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	
[credential]
	helper = osxkeychain
