[user]
	name = William Walker

[alias]
	amend = commit --all --amend --no-edit
	please = push --force-with-lease
    play = "!f() { \
        git config user.email 'w_walker@icloud.com' && \
        git config user.signingkey '1A090154'; \
    }; f"
    work = "!f() { \
        git config user.email 'william@defenseunicorns.com' && \
        git config user.signingkey '6E8C69E8'; \
    }; f"

[fetch]
	prune = true

[commit]
	gpgsign = true

[gpg]
	program = gpg # the full path is not required

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
